:root {
    --backgroundcolor: cyan;
    --color: darkcyan;
    --color-dimmed: #113951;
}

html {
    font-size: calc(1em + 1vw)
}
body {
    background-color: var(--backgroundcolor);
    color: var(--color);
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
#app {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#counter {
    /*font-size: 28vw;*/
    font-weight: bolder;
}
